body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

li {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
    list-style: none inside;
}

.title {
    font-weight: 600;
}

.xps-container {
    display: flex;
}

.xps-container .xps-slider-container {
    float: left; 
    width: 75px;
    height: 400px;
    margin-bottom: 160px;
    margin-left: 50px;
    margin-top: 10px;
}

.xps-container .xp-container ul {
    padding-left: 0px;
    margin-top: 1em;
    margin-bottom: 1em;
}

.xps-container .xp-summaries {
    width: 400px;
}

.xps-container .xp-container .xp-summary {
    padding-left: 8px;
}

.xps-container .xp-container .xp-summary:hover {
    border-left: solid 3px #abe2fb;
    padding-left: 5px;
    cursor: pointer;
}

.xp-container {
    display: flex;
}

.xp-container .xp-long-desc {
    margin-bottom: 1em;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px;
    width: 600px;
}

.xp-title {
    font-weight: bold;
    padding-bottom: 5px;
}

.xp-project {

}

.xp-task {
    list-style-type: square;
}

.xp-env {
}

.tech-label {
    font-weight: bold;
}