<div class="node"
     *ngIf="tree.current"
     [ngClass]="'lvl' + (+level%4)"
     [style.width.px]="size"
     [style.height.px]="size"
     [@flyInOut]="'in'"
     (click)="onClick($event)">
  <circle *ngFor="let n of nodes"
          [text]="n.node.info"
          [x]="n.x"
          [y]="n.y"
          [radio]="n.radio"
          [level]="+level+1"
          (clickCircle)="onClickNode(n)"></circle>
</div>
